<div
  class="bg-[url('/images/header-hero-image.webp')] bg-cover bg-center h-[580px] w-full"
>
  <div class="relative h-full site-container">
    <section
      class="absolute text-6xl text-center -translate-y-1/2 left-8 top-1/2"
    >
      <h1 class="mb-4 text-white">Tìm sách gì đó?</h1>
      <p class="text-4xl text-white font-heading">Tại</p>
      <p class="mb-2 font-bold uppercase font-heading">
        <span class="text-green-500">F</span>
        <span class="text-green-500">o</span>
        <span class="text-orange-500">h</span>
        <span class="text-orange-500">o</span>
        <span class="text-red-500">s</span>
        <span class="text-green-700">o</span>
      </p>
      <a
        href="/books"
        class="inline-block px-4 py-2 text-4xl text-white transition-colors bg-orange-500 border-2 border-orange-700 rounded-md font-heading hover:bg-primary hover:border-green-700"
        >Mua ngay</a
      >
    </section>
  </div>
</div>
