<nav class="sticky top-0 border-b shadow-sm" id="main-nav">
  <ul class="flex justify-center gap-1 site-container">
    <li>
      <a
        class="inline-block px-4 py-3 font-bold uppercase hover:text-primary"
        href="/"
        >Trang chủ</a
      >
    </li>
    <li>
      <ul
        class="inline-block px-4 py-3 space-x-1 font-bold uppercase hover:text-primary"
      >
        Danh mục
        <i class="fa-solid fa-chevron-down"></i>
      </ul>
    </li>
    <li>
      <a
        class="inline-block px-4 py-3 font-bold uppercase hover:text-primary"
        href="/books"
        >Mua sách ngay</a
      >
    </li>
    <li>
      <a
        class="inline-block px-4 py-3 font-bold uppercase hover:text-primary"
        href="#main-footer"
        >Thông tin thêm</a
      >
    </li>
  </ul>
</nav>
