<div class="text-center">
  <h1 class="mb-4 text-6xl font-semibold text-red-500">404</h1>
  <p class="mb-4 text-lg text-gray-600">
    Oops! Có vẻ như bạn đã bị lạc trên
    <span class="inline-block px-2 py-1 bg-pink-400 parallelogram text-pink-50"
      >con đường tình yêu</span
    >.
  </p>
  <div class="mb-4 animate-bounce">
    <svg
      class="w-16 h-16 mx-auto text-red-500"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"
      ></path>
    </svg>
  </div>
  <a
    href="/"
    class="inline-block mb-4 hover:underline underline-offset-2 text-sky-500"
  >
    Hãy trả tôi về với
    <span href="/" class="mx-2 text-lg font-bold uppercase">
      <span class="text-green-500">F</span>
      <span class="text-green-500">o</span>
      <span class="text-orange-500">h</span>
      <span class="text-orange-500">o</span>
      <span class="text-red-500">s</span>
      <span class="text-green-700">o</span>
    </span>
  </a>
</div>
<div class="text-center">{{> back-button}}</div>
