@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-heading: "Bricolage Grotesque", sans-serif;
  --font-body: "Noto Sans Display", sans-serif;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  font-size: 1rem;
  font-family: var(--font-body);
  line-height: 1.5;

  @apply antialiased;
}

:where(input, button, textarea, select, summary) {
  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 4px solid var(--color-brand-200);
    outline-offset: 2px;
  }

  &:disabled {
    background-color: var(--color-grey-100);
    color: var(--color-grey-500);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  overflow-wrap: break-word;
  text-wrap: balance;
  hyphens: auto;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
  object-fit: cover;
  object-position: center;
  font-size: 0.75rem;
}
