@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-heading: "Bricolage Grotesque", sans-serif;
    /* --font-body: "Noto Sans Display", sans-serif; */
    --font-body: "Open Sans", sans-serif;
  }

  body {
    min-height: 100vh;
    min-height: 100svh;
    font-family: var(--font-body);

    @apply antialiased text-gray-600;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    overflow-wrap: break-word;
    text-wrap: balance;
    hyphens: auto;
  }

  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 0.75rem;
    object-fit: cover;
    object-position: center;
    font-size: 0.75rem;
  }
}

@layer utilities {
  .site-container {
    @apply container px-4 mx-auto;
  }
}
