<nav class="py-3 border-b-2 border-gray-500">
  <ul class="flex text-sm">
    <li class="px-4 border-r-2 border-gray-500 last:border-r-0">
      <a href="/">Trang chủ</a>
    </li>
    <li class="px-4 border-r-2 border-gray-500 last:border-r-0">
      <a href="/ve-chung-toi">Thông tin về Fohoso</a>
    </li>
    <li class="px-4 border-r-2 border-gray-500 last:border-r-0">
      <a href="/lien-he">Liên hệ với chúng tôi</a>
    </li>
    <li class="px-4 border-r-2 border-gray-500 last:border-r-0">
      <a href="/giay-to-phap-ly">Giấy tờ pháp lý</a>
    </li>
  </ul>
</nav>
