<nav class="flex gap-12 py-12 border-b-2 border-gray-500">
  <ul
    class="px-6 space-y-2 text-sm border-l-2 border-gray-500 first:border-l-0"
  >
    <h3 class="mb-4 text-lg font-medium uppercase">Sản phẩm</h3>
    <li>
      <a class="hover:underline underline-offset-2" href="/nguoc-goc"
        >Nguồn gốc</a
      >
    </li>
    <li>
      <a class="hover:underline underline-offset-2" href="/huong-san-pham"
        >Các sản phẩm chính</a
      >
    </li>
    <li>
      <a class="hover:underline underline-offset-2" href="/chinh-sach-mua-hang"
        >Chính sách mua hàng</a
      >
    </li>
    <li>
      <a class="hover:underline underline-offset-2" href="/doi-tac"
        >Các đối tác của Fohoso</a
      >
    </li>
  </ul>
  <ul
    class="px-6 space-y-2 text-sm border-l-2 border-gray-500 first:border-l-0"
  >
    <h3 class="flex gap-2 mb-4 text-lg font-medium uppercase">
      Về {{> fohoso}}
    </h3>
    <li>
      <a class="hover:underline underline-offset-2" href="/doi-ngu-lanh-dao"
        >Đội ngủ lãnh đạo</a
      >
    </li>
    <li>
      <a class="hover:underline underline-offset-2" href="/giay-phep-van-hanh"
        >Giấy phép vận hành</a
      >
    </li>
    <li>
      <a class="hover:underline underline-offset-2" href="/tai-sao-thanh-lap"
        >Tại sao Fohoso được thành lập</a
      >
    </li>
    <li>
      <a
        class="hover:underline underline-offset-2"
        href="tai-sao-ban-nen-tin-tuong"
        >Tại sao bạn nên chọn Fohoso</a
      >
    </li>
  </ul>
  <ul
    class="px-6 space-y-2 text-sm border-l-2 border-gray-500 first:border-l-0"
  >
    <h3 class="mb-4 text-lg font-medium uppercase">Tài khoản của bạn</h3>
    <li>
      <a class="hover:underline underline-offset-2" href="/tai-khoan-cua-toi"
        >Tài khoản của tôi</a
      >
    </li>
    <li>
      <a class="hover:underline underline-offset-2" href="/gio-hanh"
        >Giỏ hàng của tôi</a
      >
    </li>
    <li>
      <a class="hover:underline underline-offset-2" href="/bao-cao-lam-dung"
        >Báo cáo rò rỉ thông tin</a
      >
    </li>
    <li>
      <a class="hover:underline underline-offset-2" href="/chinh-sach-tai-khoan"
        >Chính sách quản lý thông tin</a
      >
    </li>
  </ul>
  <address
    class="px-6 space-y-2 text-sm not-italic border-l-2 border-gray-500 first:border-l-0"
  >
    <h3 class="mb-4 text-lg font-medium uppercase">Liên hệ</h3>
    <p class="text-balance">
      227 Nguyễn Văn Cừ, Phường 4, Quận 5, Tp. Hồ Chí Minh
    </p>
    <p>
      <span>Facebook: </span>
      <a
        class="hover:underline underline-offset-2"
        href="https://fb.com/tmphat1312"
      >
        <i class="fa-brands fa-facebook"></i>
        Hiệu sách Fohoso</a
      >
    </p>
    <p>
      <span>Email: </span>
      <a
        class="hover:underline underline-offset-2"
        href="mailto:fohoso@gmail.com"
        >fohoso@gmail.com</a
      >
    </p>
    <p>
      <span aria-label="Số điện thoại">SĐT: </span>
      <a class="hover:underline underline-offset-2" href="tel:090000000"
        >0933 765 012 (Anh Minh)</a
      >
    </p>
  </address>
</nav>
