<nav class="flex gap-4">
  <p>
    {{#if user}}
    <span>Xin chào,</span>
    <span class="font-bold capitalize">{{user.name}}</span>
    {{/if}}
  </p>
  <ul class="flex">
    <li class="px-2 border-r last:border-r-0">
      <a href="/cart">Giỏ hàng</a>
    </li>
    {{#if user}}
    <li class="px-2 border-r last:border-r-0">
      <form action="/logout" method="post">
        <input type="submit" value="Đăng xuất" class="cursor-pointer" />
      </form>
    </li>
    {{else}}
    <li class="px-2 border-r last:border-r-0">
      <a href="/login">Đăng nhập</a>
    </li>
    <li class="px-2 border-r last:border-r-0">
      <a href="/register">Đăng ký</a>
    </li>
    {{/if}}
  </ul>
</nav>
