<nav>
  <ul class="flex">
    <li class="px-2 border-r last:border-r-0">
      <a href="/login">Đăng nhập</a>
    </li>
    <li class="px-2 border-r last:border-r-0">
      <a href="/register">Đăng ký</a>
    </li>
    <!-- <li class="px-2 border-r last:border-r-0">
      <a href="/tai-khoan-cua-toi">Tài khoản của tôi</a>
    </li> -->
    <li class="px-2 border-r last:border-r-0">
      <a href="/cart">Giỏ hàng</a>
    </li>
    <!-- <li class="px-2 border-r last:border-r-0">
      <a href="/dang-xuat">Đăng xuất</a>
    </li> -->
  </ul>
</nav>
