<nav>
  <ul class="flex">
    <li class="px-2 border-r last:border-r-0">
      <a href="/dang-nhap">Đăng nhập</a>
    </li>
    <li class="px-2 border-r last:border-r-0">
      <a href="/dang-ky">Đăng ký</a>
    </li>
    <li class="px-2 border-r last:border-r-0">
      <a href="/tai-khoan-cua-toi">Tài khoản của tôi</a>
    </li>
    <li class="px-2 border-r last:border-r-0">
      <a href="/gio-hang">Giỏ hàng</a>
    </li>
    <li class="px-2 border-r last:border-r-0">
      <a href="/dang-xuat">Đăng xuất</a>
    </li>
  </ul>
</nav>
