<div class="py-6 text-white bg-primary">
  <form action="/newsletter" class="flex justify-center gap-3 site-container">
    <label for="newsletter" class="self-center text-lg font-bold uppercase"
      >Đăng ký để nhận thông tin mã giảm giá</label
    >
    <input
      required
      id="newsletter"
      placeholder="Nhập email của bạn..."
      type="email"
      class="w-1/4 min-w-[200px] bg-gradient-to-r from-green-500 to-primary rounded-sm p-0 px-2 py-1 ml-8 border-gray-50/80 text-gray-100 placeholder:text-gray-100 placeholder:text-xs"
    />
    <button class="px-3 py-2 text-gray-700 bg-white rounded-sm">Đăng ký</button>
  </form>
</div>
